


$primary:#fff;









@import "../node_modules/bootstrap/scss/bootstrap";


.main-container-background{
    background: linear-gradient(.25turn, #404c4b 25%, #242c2d,#242c2d,#242c2d);
}

.mx-blend-screen{
    mix-blend-mode: screen;
}

.img-border{
    border-radius: 28px;
}

.social-link:hover{
    font-size: 4rem;
    border: 1px solid #404c4b;
    opacity: 0.7;
    border-radius: 50%;
    transition: 1ms;
}


.card-product:hover{
    border-image: --webkit-linear-gradient(to right, #b92b27, #1565c0) 30;
    border-image: linear-gradient(to right, #b92b27, #1565c0) 30;
    border-image-width: 2px;
}

.product{
    transition: transform ease;
    overflow: hidden;
}

.product-hover:hover{
    transform: scale(1.2); 
}